.layout {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32AB93;
    opacity: 0;
    transition: .3s;
}
.layout:hover{
    opacity: 1;
}
